%h1 Supported GameSystem

%table.table.table-striped
  %tr
    %th Name
    %th Description

  - @game_systems.each do |game_system|
    %tr
      %td= link_to game_system.name, game_system
      %td= truncate game_system.description

= link_to 'New Game system', new_game_system_path
