<div class="line text">
  <span class="time"><%= created_at %></span>
  <span class="sender"><%= alias %></span>
  <span class="message"><%= body %></span>

  <div class="dice">
  </div>

  <div class="supplement">
  </div>
</div>
