%h1 Listing rooms

%table.table.table-striped
  %tr
    %th.span1 #
    %th title
    %th created

  - @rooms.each do |room|
    %tr
      %td= link_to truncate(room.id.to_s, :length => 10), room
      %td= link_to room.title, room
      %td= room.created_at.to_s :db

= link_to 'New Room', new_room_path, :class => 'btn btn-primary'
