- content_for :sidebar do
  = render "sidebar"

- content_for :header do
  .page-header
    %h2
      = t "general.members"
      %small= @world.name

%table.table.table-striped
  %tr
    %th Name
    %th Latest Participated Session
    %th Latest Hosted Session

  - @members.each do |member|
    %tr
      %td= link_to member.user.name, [@world, member]
      %td Hoge
      %td Hoge
